<html>
<head>
	<title>Student List</title>
</head>
<body bgcolor="#FFFFCC">
	<table border="3" width="75%" align="center">
		<tr bgcolor="#FFFFCC">
			<th colspan="7"><br><h3>STUDENT LIST</h3>
			</th>
		</tr>
		<tr bgcolor="#CC6600">
			<th>Name</th>
			<th>ID Number</th>
			<th>Course and Year</th>
			<th>Gender</th>
	{% for student in object_list %}
		<tr bgcolor="#FFFF99" align="center">
			<td>{{ student.name }}</td>
			<td>{{ student.id_number }}</td>
			<td>{{ student.course_and_year}}</td>
			<td>{{ student.gender }}</td>
			<td>
				<a href="{% url "student_edit" student.id %}">Edit</a>
	            <a href="{% url "student_delete" student.id %}">Delete</a>
			</td>
		</tr>
	{% endfor %}
	<tr>
		<th colspan="7" ><a href="{% url "student_new" %}">New</a>
		</th>
	</tr>
	</table>
</body>
</html>